# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/notes_blog"
POSTGRES_DB="notes_blog"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

# JWT Configuration
JWT_SECRET="5XnWjdD6xOc2/u8YCHKGI4cfBgtINC7uHdbyP5tAeMg="
JWT_EXPIRES_IN="7d"

# Server Configuration
PORT=3001
NODE_ENV="production"
FRONTEND_URL="http://localhost:3000"
BACKEND_URL="http://localhost:3001"

# Frontend Configuration
NEXT_PUBLIC_EXTERNAL_API_URL="http://127.0.0.1:3001/api"

# Redis Configuration
REDIS_URL="redis://redis:6379"

# Google OAuth (Replace with your own credentials)
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
